@model xluhco.web.Controllers.RedirectViewModel
@{
    var millisecondsToWait = Model.NumberOfSecondsToWait * 1000;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>xluh.co -- Redirecting to @Html.Raw(Model.Url)</title>

    <meta name="description" content="xluhco is a URL shortener for Excella (xluh.co, Excella Co, get it?)">
    <meta name="author" content="Sean Killeen">

    @*Social media tags*@
    @if(!string.IsNullOrWhiteSpace(Model.Title))
    {
        <meta property="og:title" content="@Html.Raw(Model.Title)">
        <meta name="twitter:title" content="@Html.Raw(Model.Title)">
    }
    
    @if(!string.IsNullOrWhiteSpace(Model.ImageUrl))
    {
        <meta property="og:type" content="Website">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="@Html.Raw(Model.ImageUrl)">
        <meta property="og:image" content="@Html.Raw(Model.ImageUrl)">
    }
    
    @if(!string.IsNullOrWhiteSpace(Model.Description))
    {
        <meta property="og:description" content="@Html.Raw(Model.Description)">
    }
    <meta property="og:url" content="@Html.Raw(Model.Url)">

    <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.TrackingCode"></script>
</head>
<body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        // Creates a timeout to call the redirect after four secs (if GA takes too long).
        setTimeout(redirectToUrl, @millisecondsToWait);

        // Keeps track of whether or not the redirect has been called.
        // This prevents the from being called twice in cases
        // where the event callback function fires normally.
        var alreadyRedirected = false;

        function redirectToUrl() {
            if (!alreadyRedirected) {
                alreadyRedirected = true;
                window.location.assign("@Html.Raw(Model.Url)");
            }
        };

        gtag('config', '@Model.TrackingCode');
        gtag('event', 'shortLinkView', {
            'shortLinkCode': '@Model.ShortLinkCode',
            'shortLinkUrl': '@Html.Raw(Model.Url)',
            'event_callback': function() {
                redirectToUrl();
            }
        });
    </script>

    <h2>Short Code @Model.ShortLinkCode</h2>
    <p>Redirecting to @Html.Raw(Model.Url)</p>
</body>
</html>
