@model xluhco.web.SiteOptions
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<h1 class="title">
    Hello there!
</h1>
<p class="subtitle">
    This is @Model.ShortLinkUrl, @Model.CompanyName's friendly URL redirect application.
</p>

<p class="subtitle">
    You can head to our home page at <a href="@Model.CompanyHomePageUrl">@Model.CompanyHomePageUrl</a>.
</p>

<p class="subtitle">
    Or, check out the @Html.ActionLink("list of links", "List", "Home"). 
</p>
